body{
    font-family: "Roboto";
    padding: 50px;
}
#appeal-form {
    display: block;
}
#appeal-form input {
    line-height: 15px;
    width: 200px;
    font-family: inherit;
    margin-bottom: 10px;
}
#appeal {
    list-style-type: none;
    padding: 0;
    counter-reset: item;
}
#appeal li:before{
    content:"(" counter(item) ") ";
    counter-increment: item;
}
div {
    font-family: inherit;
}
label.standart {
    padding-bottom: 5px;
    display:block;

}

#submit-button-div {
    width:150px;
}
#button {
    margin-top: 20px;
    font-family: inherit;
    font-size:18px;
    background-color: white;
    border-color: #39B8A2;
    border-style: solid;
    border-radius: 10px;
    padding: 20px 30px;
}
#button:hover{
    background-color: #39B8A2;
    color:white;
    cursor: pointer;
}
span.asterisk{
    color:red;
}
p.error {
    margin-left: 5px;
    display: inline;
    color:red;
    font-weight: bold;
    font-size: 15px;
}